/* font-family: 'Gelasio', serif;
font-family: 'Ribeye', cursive;
font-family: 'Roboto', sans-serif; */

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: 'roboto', sans-serif;
   font-weight: 400;
}

img {
   max-width: 100%;
}

.container {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   background: url(img/background.jpg) 0 0/100% no-repeat;
   min-height: 900px;
}

.nav {
   padding-top: 35px;
   margin-bottom: 200px;
   height: 50px;
}

.nav-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo a {
   font-family: 'Ribeye';
   font-size: 24px;
   color: ffffff;
   text-decoration: none;
}

.logo a:visited {
   color: white;
}

.logo a:hover {
   text-decoration: underline;
}

.nav-nav {
}

.nav-list {
   display: flex;
   list-style-type: none;
}

.nav-item a {
   font-family: 'roboto', sans-serif;
   font-weight: 500;
   font-size: 18px;
   color: white;
   text-decoration: none;

   margin-right: 50px;
}

.nav-item a:hover {
   text-decoration: underline;
}

.header-button {
   padding: 15px 35px;
   border: 0;
   cursor: pointer;
   background-color: #C9453B;
   color: #ffffff;
}

.header-title {
   margin: 0;
   margin-bottom: 30px;
   font-family: 'Gelasio', serif;
   font-weight: 700;
   font-size: 65px;
   line-height: 78px;
   color: #ffffff;
}

.header-content {
   margin: 0;
   margin-bottom: 58px;
   width: 458px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   color: #fff;
}

.header-link {
   width: 187px;
   height: 59px;
   padding: 18px 47px;
   background-color: #C9453B;
   color: #fff;
   text-decoration: none;
}
