/* font-family: 'Gelasio', serif;
font-family: 'Ribeye', cursive;
font-family: 'Roboto', sans-serif; */

*, *::before, *::after {
    box-sizing: border-box;
 }
 
 h1,h2,h3 {
    margin: 0;
    padding: 0;
 }

 ul, li {
    list-style-type: none;
    padding: 0;
 }

 body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
 }
 
 img {
    max-width: 100%;
 }
 
 .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
 }
 
 .header {
    background-image: url(../img/background.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    margin-bottom: 140px;
 }
 
 .nav {
    padding-top: 35px;
    margin-bottom: 200px;
    height: 50px;
 }
 
 .nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .logo a {
    font-family: 'Ribeye';
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
 }
 
 .logo a:visited {
    color: white;
 }
 
 .logo a:hover {
    text-decoration: underline;
 }
 
 .nav-list {
    display: flex;
    list-style-type: none;
 }
 
 .nav-item a {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
 
    margin-right: 50px;
 }
 
 .nav-item a:hover {
    text-decoration: underline;
 }
 
 .header-button {
    padding: 15px 35px;
    border: 0;
    cursor: pointer;
    background-color: #C9453B;
    color: #ffffff;
 }
 
 .header-title {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Gelasio', serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    color: #ffffff;
 }
 
 .header-content {
    margin: 0;
    margin-bottom: 58px;
    width: 458px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
 }
 
 .header-link {
    width: 187px;
    height: 59px;
    padding: 18px 47px;
    background-color: #C9453B;
    color: #fff;
    text-decoration: none;
 }
 
 .site-title {
    font-family: 'Gelasio', serif;
    font-size: 43px;
    font-weight: 500;
    line-height: 60px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
 }
 
 .site-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    opacity: 0.6;
 }
 
 .offers {
    margin-bottom: 60px;
 }
 
 .popular-location {
    padding-bottom: 140px;
 }
 
 .location-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style-type: none;
 }
 
 .location-item {
    width: 360px;
    height: 500px;
 }
 
 .location-foto {
    margin-bottom: 35px;
 }
 .card-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
 }
 .card-subtitle {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    opacity: 0.6;
 }
 
 .special-offers {
    margin-bottom: 140px;
 }
 
 .offers-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
 }
 
 .offers-item {
    list-style-type: none;
    margin-right: 73px;
 }

 .offers-item:last-child {
    margin-right: 0;
 }

.offers-foto {
   margin-bottom: 20px;
}

 .card-title-offer {
   font-family: 'Gelasio';
   font-weight: 500;
   font-size: 24px;
   line-height: 46px;
 }

.card-information {
   list-style-type: none;
   padding: 0;
}

.card-information-gr {
   display: flex;
   margin-bottom: 8px;
   align-items: center;
}

.card-information-gr-svg {
   margin-right: 10px;
}

.card-information-gr-city {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #000000;
   opacity: 0.6;
   margin-right: 50px;
}

.card-information-gr-raiting {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
}

.card-information-time {
   margin-bottom: 8px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
   opacity: 0.6;
}

.card-information-price {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px; 
   color: rgba(0, 0, 0, 0.6);
}

.card-information-price span {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #000000;
}

.post {
   display: flex;
}

.main-post {
   display: flex;
   flex-direction: column;
   width: 554px;
   margin-right: 33px;
}

.post-title {
   font-family: 'Gelasio';
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
}

.text-title {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 18px;
   line-height: 29px;
   color: #000000;
   opacity: 0.6;
}

.main-post-autor {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
}

.main-post-img {
   margin-bottom: 35px;
}

.other-post {
   
}

.other-post-item {
   display: flex;
   margin-bottom: 30px;
}

.other-post-item-img {
   margin-right: 27px;
}

.other-post-img {
   width: 100%;
}

other-post-item-content {
   width: 50px;
}

.other-post-autor {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #000000;
   opacity: 0.8;
}